/**app.wxss**/
page{
  --tabbar-background-color: #1A1A21;
  --nav-bar-background-color: #1A1A21;
  --tabbar-item-active-color: #FC3D49;
  --nav-bar-text-color: #FC3D49;
  --nav-bar-icon-color: #FC3D49;
  --nav-bar-title-text-color: #FFFFFF;
  --tabbar-item-text-color:#FFFFFF;
  --skeleton-row-background-color: #45454b;
}