/* pages/findMusic/findMusic.wxss */
.contains{
  height: 100vh;
  width: 100vw;
  background-color: #1A1A21;

  .text-vip{
    display: flex;
    padding: 1rem;
    align-items: center;
  }

  van-image{
    margin-left: .8rem;
  }

  .text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .vip{
    border: 3px solid #2f2f33;
    border-radius: 1rem;
    position: absolute;
    font-size: 13px;
    right: 0.5rem;
    color: #FFF;
    background-color: #2f2f33;
  }

  .Recommend{
    padding: 1rem;

    .icon-text{
      display: flex;
      align-items: center;

      text{
        margin-left: .5rem;
        color: #FFF;
      }
    }

    .card{
      margin-top: 1rem;
      width: 90vw;
      height: 50vh;
      background-color: #2F2F33;
      border-radius:3%;

      .item{

        width: 100%;
        height: 100%;
        text-align: center;
        .van-image{
          margin-top: 2rem;
          margin-left: -.7rem;
        }
        .title{
          margin-top: 1rem;
          font-size: 16px;
          color: #FFF;
        }
      }
    }
  }

}