/* pages/musicList/musicList.wxss */
.contains{
  height: 100vh;
  width: 100vw;
  background-color: #27272c;

  .text{
    height: 100vh;
    width: 100vw;
    background-color: #27272c;
    color: #FFF;
  }

  .list{
    color: #FFF;
  }
}